body {
   color: white;
}

p {
	font-size: 50px;
    font-family: "Times New Roman";
}

.myStyle {
	font-weight: bold;
	text-align: center;
}

.cold {
  background-color: #95A5A6;
}

.chilly {
  background-color: #1ABC9C;
}

.nice {
  background-color: #2980B9;
}

.warm {
  background-color: #E67E22;
}

.hot {
  background-color: #E74C3C;
}